@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap');

:root{

    /* ## Colors */
    /* ### Primary */
    --main-background: hsl(233, 47%, 7%);
    --card-background: hsl(244, 38%, 16%);
    --accent: hsl(277, 64%, 61%);

    /* ### Neutral */
    --White: hsl(0, 0%, 100%);
    --card-text: hsla(0, 0%, 100%, 0.5);
    --stat-headings: hsla(0, 0%, 100%, 0.8);

    /* ### Font */
    --font-family-Inter: 'Inter', sans-serif;
    --font-family-Lexend_Deca: 'Lexend Deca', sans-serif;
    --fw-regular: 400;
    --fw-bold: 700;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--main-background);
}

.card{
    width: 54rem;
    margin: 1rem;
    border-radius: .5rem;
    overflow: hidden;
    text-align: center;
    background-color: var(--card-background);
}

.card__img{
    background: url(../images/image-header-mobile.jpg) no-repeat, var(--accent);
    background-blend-mode: multiply;
    background-size: cover;
    background-position: top;
    height: 16rem;
}

.card__main{
    padding: 2rem;
}

.card__title{
    margin-bottom: 1.5rem;
    color: var(--White);
    font-size: 1.8em;
    font-weight: var(--fw-bold);
    font-family: var(--font-family-Inter);
}

.card__text{
    color: var(--card-text);
    line-height: 1.4;
    font-family: var(--font-family-Lexend_Deca);
    font-weight: var(--fw-regular);
}

.card__info{
    margin-top: 2rem;
}

.stat{
    margin-top: 1rem;
}

.stat h2{
    margin: .5rem 0;
    color: var(--White);
    font-family: var(--font-family-Inter);
}

/* PC */

@media (min-width: 600px){
    .card{
        display: flex;
        text-align: left;
    }

    .card__img{
        background: url(../images/image-header-desktop.jpg), var(--accent);
        order: 1;
        width: 50%;
        height: auto;
        background-size: cover;
    }

    .card__main{
        width: 50%;
    }

    .card__info{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}